In [20]:
df = pd.ExcelFile('output.xlsx')
Sheet_names_list = df.sheet_names
dflist = []

for sheet in Sheet_names_list :
   dflist.append(df.parse(sheet_name=sheet,index_col=None))
dflist[1]

,#,Name,Day1,Day2,Day3,Day4,Day5,Day6,Day7,Day8,...,Day31,Day32,Day33,Day34,Day35,Day36,Day37,Day38,Day39,Day40
0,1,Raj Aryan,Present,NaN,Present,Absent,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Present,Present,NaN,Present,Present,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Hemanshu,NaN,Present,Present,Absent,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Krish,Present,Present,Present,Present,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Prateek,Absent,Absent,Present,Absent,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
(dflist[0].iloc[0,2:]=="Present")

Day1      True
Day2      True
Day3      True
Day4      True
Day5      True
Day6     False
Day7     False
Day8     False
Day9     False
Day10    False
Day11    False
Day12    False
Day13    False
Day14    False
Day15    False
Day16    False
Day17    False
Day18    False
Day19    False
Day20    False
Day21    False
Day22    False
Day23    False
Day24    False
Day25    False
Day26    False
Day27    False
Day28    False
Day29    False
Day30    False
Day31    False
Day32    False
Day33    False
Day34    False
Day35    False
Day36    False
Day37    False
Day38    False
Day39    False
Day40    False
Name: 0, dtype: bool

In [22]:
40 - (dflist[0].iloc[0,2:].isnull()).sum()

9

In [23]:
import pandas as pd 
import numpy as np 
  
dict = {'Name':['Martha', 'Tim', 'Rob', 'Georgia'], 
        'Maths':[87, 91, 97, 95], 
        'Science':[83, 99, 84, 76] 
       } 
  
df = pd.DataFrame(dict) 
  


dflist[1]

,#,Name,Day1,Day2,Day3,Day4,Day5,Day6,Day7,Day8,...,Day31,Day32,Day33,Day34,Day35,Day36,Day37,Day38,Day39,Day40
0,1,Raj Aryan,Present,NaN,Present,Absent,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Present,Present,NaN,Present,Present,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Hemanshu,NaN,Present,Present,Absent,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Krish,Present,Present,Present,Present,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Prateek,Absent,Absent,Present,Absent,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
len(dflist[0].index)+2

65

In [9]:
import pandas as pd 
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])

df = df[df.'name' != 'Molly']
df

SyntaxError: invalid syntax (<ipython-input-9-f34e475a349e>, line 7)

In [21]:
df = pd.ExcelFile('output.xlsx')
Sheet_names_list = df.sheet_names
dflist = []

for sheet in Sheet_names_list :
   dflist.append(df.parse(sheet_name=sheet,index_col=None))
name = "Raj Aryan"
rno = 4
for i in range(6):
        print(dflist[i][(dflist[i].Name != name) | (dflist[i].RollNo != 4)])

    RollNo       Name     Day1     Day2     Day3     Day4     Day5     Day6  \
0        1  Raj Aryan  Present  Present  Present  Present  Present   Absent
1        3   Hemanshu  Present  Present  Present  Present  Present  Present
2        4      Krish  Present  Present  Present   Absent  Present  Present
3        5    Prateek  Present   Absent  Present  Present   Absent  Present
4        6  Raj Aryan  Present  Present  Present  Present  Present  Present
..     ...        ...      ...      ...      ...      ...      ...      ...
58      60  Raj Aryan  Present  Present  Present  Present   Absent  Present
59      61  Raj Aryan  Present   Absent  Present  Present  Present  Present
60      62  Raj Aryan  Present  Present  Present  Present  Present  Present
61      63  Raj Aryan  Present  Present  Present  Present  Present  Present
62      64  Raj Aryan  Present  Present  Present   Absent  Present  Present

       Day7     Day8  ... Day31  Day32  Day33  Day34  Day35  Day36  Day37  \
0    Absent   Absent  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN
1   Present  Present  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN
2    Absent   Absent  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN
3   Present  Present  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN
4    Absent   Absent  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN
..      ...      ...  ...   ...    ...    ...    ...    ...    ...    ...
58   Absent   Absent  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN
59  Present  Present  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN
60   Absent   Absent  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN
61  Present  Present  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN
62   Absent   Absent  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN

    Day38  Day39  Day40
0     NaN    NaN    NaN
1     NaN    NaN    NaN
2     NaN    NaN    NaN
3     NaN    NaN    NaN
4     NaN    NaN    NaN
..    ...    ...    ...
58    NaN    NaN    NaN
59    NaN    NaN    NaN
60    NaN    NaN    NaN
61    NaN    NaN    NaN
62    NaN    NaN    NaN

[63 rows x 42 columns]
   RollNo       Name     Day1     Day2     Day3     Day4  Day5  Day6  Day7  \
0       1  Raj Aryan  Present      NaN  Present   Absent   NaN   NaN   NaN
1       2    Present  Present      NaN  Present  Present   NaN   NaN   NaN
2       3   Hemanshu      NaN  Present  Present   Absent   NaN   NaN   NaN
3       4      Krish  Present  Present  Present  Present   NaN   NaN   NaN
4       5    Prateek   Absent   Absent  Present   Absent   NaN   NaN   NaN

   Day8  ... Day31  Day32  Day33  Day34  Day35  Day36  Day37  Day38  Day39  \
0   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   Day40
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

[5 rows x 42 columns]
   RollNo       Name     Day1     Day2     Day3     Day4  Day5  Day6  Day7  \
0       1  Raj Aryan  Present      NaN  Present   Absent   NaN   NaN   NaN
1       2    Present  Present      NaN  Present  Present   NaN   NaN   NaN
2       3   Hemanshu      NaN  Present  Present   Absent   NaN   NaN   NaN
3       4      Krish  Present  Present  Present  Present   NaN   NaN   NaN
4       5    Prateek   Absent   Absent  Present   Absent   NaN   NaN   NaN

   Day8  ... Day31  Day32  Day33  Day34  Day35  Day36  Day37  Day38  Day39  \
0   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   Day40
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

[5 rows x 42 columns]
   RollNo       Name     Day1     Day2     Day3     Day4  Day5  Day6  Day7  \
0       1  Raj Aryan  Present      NaN  Present   Absent   NaN   NaN   NaN
1       2    Present  Present      NaN  Present  Present   NaN   NaN   NaN
2       3   Hemanshu      NaN  Present  Present   Absent   NaN   NaN   NaN
3       4      Krish  Present  Present  Present  Present   NaN   NaN   NaN
4       5    Prateek   Absent   Absent  Present   Absent   NaN   NaN   NaN

   Day8  ... Day31  Day32  Day33  Day34  Day35  Day36  Day37  Day38  Day39  \
0   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   Day40
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

[5 rows x 42 columns]
   RollNo       Name     Day1     Day2     Day3     Day4  Day5  Day6  Day7  \
0       1  Raj Aryan  Present      NaN  Present   Absent   NaN   NaN   NaN
1       2    Present  Present      NaN  Present  Present   NaN   NaN   NaN
2       3   Hemanshu      NaN  Present  Present   Absent   NaN   NaN   NaN
3       4      Krish  Present  Present  Present  Present   NaN   NaN   NaN
4       5    Prateek   Absent   Absent  Present   Absent   NaN   NaN   NaN

   Day8  ... Day31  Day32  Day33  Day34  Day35  Day36  Day37  Day38  Day39  \
0   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   Day40
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

[5 rows x 42 columns]
   RollNo       Name     Day1     Day2     Day3     Day4  Day5  Day6  Day7  \
0       1  Raj Aryan  Present      NaN  Present   Absent   NaN   NaN   NaN
1       2    Present  Present      NaN  Present  Present   NaN   NaN   NaN
2       3   Hemanshu      NaN  Present  Present   Absent   NaN   NaN   NaN
3       4      Krish  Present  Present  Present  Present   NaN   NaN   NaN
4       5    Prateek   Absent   Absent  Present   Absent   NaN   NaN   NaN

   Day8  ... Day31  Day32  Day33  Day34  Day35  Day36  Day37  Day38  Day39  \
0   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4   NaN  ...   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   Day40
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

[5 rows x 42 columns]